Flask==3.0.3
jieba==0.42.1
matplotlib==3.8.4
numpy==1.26.4
pandas==2.2.2
Pillow==10.3.0
pymysql==1.1.0
Requests==2.31.0
scikit_learn==1.4.2
snownlp==0.12.3
SQLAlchemy==2.0.30
utils==1.0.2
wordcloud==1.9.3
